{% load i18n %}
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Lamber Santé</a>
  {% comment %} <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> {% endcomment %}
  <span class="text-white m-auto">
   {% if user.is_authenticated %}
        {{user.username}}
    {% endif %}
     {% if user.is_staff %}
      / <a href="{% url 'admin:index' %}"> Administrateur</a>
    {% endif %}
  </span>   
</header>
