body.login {
    background: #ffffff !important;
}

.login #container {
    background: #fff;
    border:none !important;
}

input[type="submit"]:hover, button:hover {
    color: #fff;
    background-color: #043353;
    border-color: #043353;
}
  
input[type="submit"]:focus, button:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

#header{
    background: #fff;
    color: #E44652
}

#branding h1{
    color: #E44652;
}

.breadcrumbs {
    background: #E44652 !important;
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    color: #fff !important;
    text-align: left;
}

.breadcrumbs a {
    color: rgb(6, 57, 122) !important;
}

.module h2, .module caption, .inline-group h2 {
    background: #E44652;
    color: #fff;
}

#header a:link, #header a:visited {
    color: rgb(6, 57, 122) !important;
}

.object-tools a.viewsitelink, .object-tools a.golink, .object-tools a.addlink {
    background-repeat: no-repeat;
    background-position: right 7px center;
    padding-right: 26px;
    background-color: rgb(5, 90, 201) !important ;
}